
.recipe {
    border: 1px solid #3c63e2; 
    border-radius: 8px; 
    padding: 16px; 
    margin: 16px;
    background-color: #8eacff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px; 
    overflow: hidden; 
}
  
  .recipe h2 {
    font-size: 1.5rem;
    margin: 0 0 8px 0; 
  }
  
  .recipe p {
    font-size: 1rem;
    margin: 0 0 16px 0; 
  }
  
  .recipe img {
    width: 100%; 
    height: auto;
    border-radius: 4px; 
  }
  
  .recipe .recipe_view_count {
    color: #888; 
  }
